:root {
  --clr-red: #ec2424;
  --clr-grey1: #202020;
  --clr-grey2: #101010;
  --clr-grey3: #e3e3e3;
  --radius: 0.2rem;
  --font-primary: Montserrat, sans-serif;
  --fs-paragraph: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-primary);
}

*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  background-image: url(https://media.istockphoto.com/photos/programming-source-code-abstract-background-picture-id1047259374?k=6&m=1047259374&s=612x612&w=0&h=nG_krpdg_SonwCnxIOYShVLEidbLvukG9YrBUsRqVEQ=);
  background-size: cover;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #202020;
}

p {
  font-size: 1rem;
  line-height: 2rem;
}

.bold-link {
  position: relative;
  text-decoration: none;
  color: black;
}

.bold-link:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.2s;
}

.bold-link:hover:after {
  width: 100%;
}

.header-label {
  position: relative;
  text-decoration: none;
  color: white;
}

.header-label:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.2s;
}

.header-label:hover:after {
  width: 100%;
}

.mapList {
  padding: 2rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.roundedBtn {
  bottom: 0;
  border-radius: 2rem;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  width: 150px;
  height: 50px;
  transition: 250ms ease-in-out;
}

.roundedBtn:hover {
  background-color: black;
  color: white;
}

.project-search-input {
  display: flex;
  margin: 0;
  padding: 0;
  border: 2px solid #101010;
  margin-bottom: 10px;
}

.project-search-input input {
  display: flex;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-indent: 30px;
  background-color: white;
  transition: 150ms ease-in-out;
  color: black;
  border: 0px solid #404040;
}

.project-search-input input:hover {
  background-color: #dbdbdb;
}

.project-search-input input:focus {
  outline: none;
}